@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

wholepage {
    width:85%
    max-width:960px;
     
}
a:hover{
    color: rebeccapurple;
    font-weight: bold;
}

h2{
    margin-left: 35%;    
}
h1, h2, h3 {
    font-family: 'Dancing Script';
    color: #363636;
}
h1{
     font-size: 50px;
    margin-left: 45%;
}

nav ul li{
    font-family: 'Josefin Sans', sans-serif;
    z-index: left;display: block; margin-bottom: 20px; font-size: 20px; display: flex; flex-wrap: wrap;margin-left: 20px; text-decoration: none; 
    
}


body {
    background-image: url(../../indv-website/background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 95%;
}

#suits{
     background-image: url(../../indv-website/suit-background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 95%;
}

#social-media{
    background-image: url(../../indv-website/suit-background-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 95%;
}


#index-banner-img {
    margin-bottom: 50px;
    margin-top: -400px;
    margin-left:300px;
}

#rings-banner-img{
    margin-bottom: 50px;
    margin-top: -420px;
    margin-left:25%;
    width: 55%;
}

#ring1{
    margin-left: 400px;
    width: 45%
}

#ring2{
    margin-left: 400px;
    width: 45%;
}

#ring3{
    margin-left: 400px;
    width: 45%;
}
#venues-banner-img{
     margin-bottom: 50px;
    margin-top: -400px;
    margin-left:300px;
    width: 60%;
}

#suits-banner-img{
     margin-bottom: 50px;
    margin-top: -400px;
    margin-left:25%;
    width: 55%;
}


#social-media-banner-img{
    margin-bottom: 50px;
    margin-top: -350px;
    margin-left:35%;
    width: 35%;
}

#cake-banner-img{
     margin-bottom: 50px;
    margin-top: -500px;
    margin-left:25%;
    width: 60%
}
img{
    margin-left: 40px;
}

#suit4{
    margin-left: 400px;
    width: 30%; height:350px;
}

#suit5{
    margin-left: 400px;
    width: 30%;
}

#suit3{
    margin-left: 400px;
    width: 30%;
}

#suit2{
    margin-left: 400px;
    width: 30%;
}

#suit1{
    margin-left: 400px;
}
h2{
margin-left: 40px;
    
}

#index-paragraph{
    margin-left: 400px;
}

#about-us-paragraph{
    margin-left: 25%;
}

#social-media-paragraph{
    margin-left: 47%;
}

#social-media-nav1{
    margin-left: 43%;
    margin-top: 40px;
    font-size: 20px;
    text-decoration: none;
}

#social-media-nav2{
    margin-left: 57%;
    margin-top: -20px;
    font-size: 20px;
}

#dresses-banner-img{
    margin-bottom: 50px;
    margin-top: -400px;
    margin-left:35%;
    width: 35%;
}

#dress-img-one{
    max-width: 600px;
    max-height: 600px;
    margin-left:30%;
}

#dress-img-two{
    max-width: 600px;
    max-height:600px;
    margin-left: 35%;
}

#dress-img-three{
    max-width: 600px;
    max-height: 600px;
    margin-left:30%;
}

#dress-img-four{
    width: 400px;
    height: 600px;
    margin-left: 35%;
}

#dress-img-five{
    width: 400px;
    height: 600px;
    margin-left: 35%;
}

#dress-img-six{
    width:400px;
    height: 600px;
    margin-left: 35%;

}

#dress1{
      margin-left: 400px;
    width: 30%;
}

#dress2{
      margin-left: 400px;
    width: 30%;
}

#dress3{
      margin-left: 400px;
    width: 30%;

}

#dress4{
      margin-left: 400px;
    width: 30%;
}

#dress5{
      margin-left: 400px;
    width: 30%;
}

#dress6{
      margin-left: 400px;
    width: 30%;
}
#cake1{
    max-width:65%;;
}

#cake2{
    max-width: 65%;;
}

#cake3{
    width: 65%;
}

#cake4{
    width:65%
}

#about-us-banner-img{
    margin-bottom: 50px;
    margin-top: -500px;
    margin-left:25%;
    width: 55%
}

#dress1-para{
    margin-left: 30%;
    font-size: 20px;
}

#dress2-para{
    margin-left: 35%;
    font-size: 20px;
}

#dress3-para{
    margin-left: 30%;
    font-size: 20px;
}

#dress4-para{
    margin-left: 35%;
    font-size: 20px;
}

#dress6-para{
    margin-left: 35%;
    font-size: 20px;
}

#ring1-para{
    margin-left: 30%;
    font-size: 20px;
}

#ring2-para{
    margin-left: 30%;
    font-size: 20px;
}

#ring3-para{
    margin-left: 30%;
    font-size: 20px;
}

#venue-img1{
      width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue-img2{
    width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue-img3{
    width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue-img4{
    width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue-img5{
    width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue-img6{
    width: 60%;
    height: 600px;
    margin-left:20%;
}

#venue1{
    margin-left:  20%;
}

#venue2{
    margin-left: 20%;
}

#venue3{
     margin-left: 20%;
}

#venue4{
     margin-left: 20%;
}

#venue5{
     margin-left: 20%;
}

#venue6{
     margin-left: 20%;
}

#venue1-para{
    margin-left: 20%;
    font-size: 20px;
}

#venue2-para{
    margin-left: 20%;
    font-size: 20px;
}

#venue3-para{
    margin-left: 20%;
    font-size: 20px;
}

#venue4-para{
    margin-left: 20%;
    font-size: 20px;
}

#venue5-para{
    margin-left: 20%;
    font-size: 20px;
}

#venue6-para{
    margin-left: 20%;
    font-size: 20px;
}

#suit1-para{
    margin-left: 30%;
    font-size: 20px;
}

#suit2-para{
    margin-left: 30%;
    font-size: 20px;
}

#suit3-para{
    margin-left: 30%;
    font-size: 20px;
}

#suit4-para{
    margin-left: 30%;
    font-size: 20px;
}

#suit5-para{
    margin-left: 30%;
    font-size: 20px;
}

#cake1-para{
    margin-left:25%; 
    font-size: 20px;
}

#cake2-para{
    margin-left:5%; 
    font-size: 20px;
}

#cake3-para{
    margin-left:8%; 
    font-size: 20px;
}

#cake4-para{
    margin-left:20%; 
    font-size: 20px;
}

}
footer{
    margin-left: 400px;
}


@media screen and (max-width: 320px){
    header h1{font-size: 20xp;
    }
    footer
    {display:block;}
    
    nav ul li{
        display:block;
        width:100%;
        height: auto;
    }
    
    
    body{
        display:bock;
        background-image: url(../../indv-website/background-img-small.psd)
    }
    
    #index-paragraph{
        margin-left:200px;
    }
}
